.btn-delete {
  background-image: linear-gradient(to bottom, #cdc298, #2c3e50);
  color: #fff;
  border: none;
}

.btn-update {
  background-image: linear-gradient(to bottom, #2c3e50, #cdc298);
  color: #fff;
  border: none;
}

.btn-image {
  background-image: linear-gradient(to bottom, #cdc298, #2c3e50);
  color: #fff;
  border: none;
}

  