<div class="main-content" style="margin-bottom: 30px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" style="background: linear-gradient(15deg,  #a6a9df,  #2c3e50);">
            <h4 class="card-title">Add Reservation</h4>
            <p class="card-category">Add a new Reservation</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="AddReservation()">
              <div class="form-group">
                <label>number_nights</label>
                <input type="text" class ="form-control" id="description"
                       [(ngModel)]="reservation.number_nights" name="description">
              </div>

              <div class="form-group">
                <label>date_reservation</label>
                <input type="date" class ="form-control" id="city"
                       [(ngModel)]="reservation.date_reservation" name="city">
              </div>

              <div class="form-group">
                <label>checkindate</label>
                <input type="date" class ="form-control" id="street_name"
                       [(ngModel)]="reservation.checkindate" name="street_name">
              </div>

              <div class="form-group">
                <label>checkoutdate</label>
                <input type="date" class ="form-control" id="state"
                       [(ngModel)]="reservation.checkoutdate" name="state">
              </div>

              <button class="btn btn-success" type="submit" style="margin-right: 40px;">Submit</button>
              <button class="btn btn-danger" type="reset">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
