<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  </style>
<div class="hero_area">
<div class="hero_social">
  <a href="">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  <a href="">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <a href="">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
</div>
 <!-- slider section -->
 <section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-md-7">
              <div class="detail-box">
                <h1>
                  Immobi-Tec
                </h1>
                <p>
                  Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                </p>
                <div class="btn-box">
                  <a routerLink="/Contact" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="assets/images/home2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-md-7">
              <div class="detail-box">
                <h1>
                  Smart Watches
                </h1>
                <p>
                  Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                </p>
                <div class="btn-box">
                  <a routerLink="/Contact" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="assets/images/home2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-md-7">
              <div class="detail-box">
                <h1>
                  Smart Watches
                </h1>
                <p>
                  Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                </p>
                <div class="btn-box">
                  <a routerLink="/Contact" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="assets/images/home2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel1" data-slide-to="1"></li>
      <li data-target="#customCarousel1" data-slide-to="2"></li>
    </ol>
  </div>

</section>
<!-- end slider section -->
</div>





<section class="shop_section layout_padding">

  <app-suggested></app-suggested>

    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Announcements
        </h2>
      </div>

      <div class="container">
        <div class="row">
         
          <div class="col-md-6">
          <select [(ngModel)]="type" data-trigger="" name="choices-single-defaul" style="width: 400px;margin-bottom: 10px;">
            <option placeholder="" value=""></option>
            <option>Sale</option>
            <option>Rent</option>
          </select>
        </div>
        <div class="col-md-6">
              <input [(ngModel)]="city" name="city" style="width: 400px;margin-bottom: 20px;" type="text" placeholder="Enter city Name"/>
            </div>
            <div class="col-md-6">
              <input [(ngModel)]="maxbudget" name="max"  style="width: 400px;margin-bottom: 10px;"  type="number" placeholder="Enter Max Budget"/>
            </div>

              <div class="col-md-6">
              <input [(ngModel)]="minbudget"  name="min" style="width: 400px;margin-bottom: 10px;"  type="number" placeholder="Enter Min Budget"/>
            </div>
            </div>
            <div style="margin-top: 20px;">
              <button class="btn btn-primary" style="width: 250px;" (click)="filter()">Filter</button>
            </div>
          
      </div>
    </div>


    <!--PARTIE BOSSTED-->
   
    

  </section>



  

  <div class="container mt-5">
    <div class="row">
      <div class="col-6" *ngFor="let ann of Announcements">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              
                <div class="card__background--main" [style.background-image]="'url(data:image/jpeg;base64,' + ann?.property?.images[0]?.url + ')'">
                  <div class="card__background--layer"></div>
                </div>
              
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
              <a style="width: 90px;" class="btn btn-primary" routerLink="/AnnouncementDetails/{{ann.id_announcement}}" > <span class="date__month">Details</span></a>
            </span>
          </div>
          <div class="blog-card__info">
            <h5>Price:
              <span>
                {{ann.price}} DT
              </span></h5>
            <p>
              <a  class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i>{{ann.property.user.name}} {{ann.property.user.lastname}} </a>
              <a  class="icon-link"><i class="fa fa-star"></i> {{ann.ratmoyenne}} / 7</a>
            </p>
            <p><strong>Adresse : </strong> {{ann.property.adresse.city}},  {{ann.property.adresse.street_name}}</p>
            <p><strong>Phone Number : </strong> {{ann.property.user.phoneNumber}}</p>
            <p><strong>Type : </strong>  {{ann.type}}</p>
            <a routerLink="/AnnouncementDetails/{{ann.id_announcement}}" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Details</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  
  <div class="heading_container heading_center">
    <h2>
      Boosted Posts
    </h2>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-6" *ngFor="let p of post;">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              
                <div class="card__background--main" >
                  <div class="card__background--layer"></div>
                </div>
              
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
            </span>
          </div>
          <div class="blog-card__info">
           
            <p>
              <a  class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i>{{p.picture}} </a>
             
            </p>
            <p><strong>Description : </strong> {{p.description}}</p>
            <p><strong>Dislikes : </strong> {{p.dislikes}}</p>
            <p><strong>Likes : </strong>  {{p.likes}}</p>
          </div>
        </article>
      </div>
    </div>
  </div>













  