<div *ngIf="suggested[0]">
  <div class="heading_container heading_center">
    <h2>
      Suggested Announcements
    </h2>
  </div>
  <input type="radio" id="s-1" name="slider-control" checked="checked">
<input type="radio" id="s-2" name="slider-control">
<input type="radio" id="s-3" name="slider-control">
<div class="js-slider">
  <figure class="js-slider_item img-1" *ngIf="suggested[0]">
    <div class="js-slider_img">
      <img class="c-img-w-full" src="data:image/jpeg;base64,{{suggested[0].property!.images[0]?.url}}" alt="">
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label" style="background-color: darkkhaki;">{{suggested[0].type}}</div>
        <button class="c-label" style="background-color: cornflowerblue;" routerLink="/AnnouncementDetails/{{suggested[0].id_announcement}}">Details</button>
        <br class="view-sm mb-s">Price : {{suggested[0].price}}</h3>
        
    </figcaption>
  </figure>

  <figure class="js-slider_item img-2" *ngIf="suggested[1]">
    <div class="js-slider_img">
      <img class="c-img-w-full" src="data:image/jpeg;base64,{{suggested[1].property!.images[1]?.url}}" alt="">
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label" style="background-color: darkkhaki;">{{suggested[1].type}}</div>
        <button class="c-label" style="background-color: cornflowerblue;" routerLink="/AnnouncementDetails/{{suggested[1].id_announcement}}">Details</button>
        <br class="view-sm mb-s">Price : {{suggested[1].price}}</h3>
        
    </figcaption>
  </figure>

  <figure class="js-slider_item img-3" *ngIf="suggested[2]">
    <div class="js-slider_img">
      <img class="c-img-w-full" src="data:image/jpeg;base64,{{suggested[2].property!.images[1]?.url}}" alt="">
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label" style="background-color: darkkhaki;">{{suggested[2].type}}</div>
        <button class="c-label" style="background-color: cornflowerblue;" routerLink="/AnnouncementDetails/{{suggested[2].id_announcement}}">Details</button>
        <br class="view-sm mb-s">Price : {{suggested[2].price}}</h3>
        
    </figcaption>
  </figure>
  
  <div class="js-slider_nav">
    <label class="js-slider_nav_item s-nav-1 prev" for="s-3"></label>
    <label class="js-slider_nav_item s-nav-1 next" for="s-2"></label>
    <label class="js-slider_nav_item s-nav-2 prev" for="s-1"></label>
    <label class="js-slider_nav_item s-nav-2 next" for="s-3"></label>
    <label class="js-slider_nav_item s-nav-3 prev" for="s-2"></label>
    <label class="js-slider_nav_item s-nav-3 next" for="s-1"></label>
  </div>
  <div class="js-slider_indicator">
    <div *ngIf="suggested[0]" class="js-slider-indi indi-1"></div>
    <div *ngIf="suggested[1]" class="js-slider-indi indi-2"></div>
    <div *ngIf="suggested[2]" class="js-slider-indi indi-3"></div>
  </div>
</div>
</div>
