<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" style="background: linear-gradient(15deg,  #a6a9df,  #2c3e50);">
            <h4 class="card-title">Add Dorm Room</h4>
            <p class="card-category">Add a new Dorm Room</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="AddDormRoom()">
              <div class="form-group">
                <label>DormRoomType</label>
                <select [(ngModel)]="dormRoom.dormRoomType" class ="form-control" data-trigger="" name="choices-single-defaul" style="width: 400px;margin-bottom: 10px;">
                  <option placeholder="" value=""></option>
                  <option>Single</option>
                  <option>Double</option>
                  <option>Triple</option>
                  <option>Quad</option>
                </select>
              </div>
              <div class="form-group">
                <label>Name</label>
                <input type="text" class ="form-control" id="description" [(ngModel)]="dormRoom.name" name="description">
              </div>
              <div class="form-group">
                <label>Status</label>
                <select [(ngModel)]="dormRoom.status" class ="form-control" data-trigger="" name="choices-single-defaul" style="width: 400px;margin-bottom: 10px;">
                  <option placeholder="" value=""></option>
                  <option>Available</option>
                  <option>notavailable</option>
                </select>
              </div>
              <div class="form-group">
                <label>Nombre de places</label>
                <input type="number" class ="form-control" id="street_name" [(ngModel)]="dormRoom.nbPlace" name="street_name">
              </div>

              <div class="form-group">
                <label>Description</label>
                <input type="text" class ="form-control" id="description" [(ngModel)]="dormRoom.description" name="description">
              </div>

              <div class="form-group">
                <label>Price</label>
                <input type="number" class ="form-control" id="state" [(ngModel)]="dormRoom.price" name="state">
              </div>

              
              <button class="btn btn-success" type="submit" style="margin-right: 40px;">Submit</button>
              <button class="btn btn-danger" type="reset" >Reset </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
