<div class="container rounded" style="background-color:white;border-radius: 20%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <!--   <img class="rounded-circle mt-5" width="120px" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png"> -->
          <div class="icon " > <span class="bold" style="font-size: 30px;">{{fn}}{{ln}}</span></div>
          <br><span class="font-weight-bold">{{name}} {{lastname}}</span><span class="text-black-50">{{email}}</span><span> </span>        
          <span> </span>
        
        </div>
      </div>
      <br>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>

              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"  placeholder="first name" [(ngModel)]="name" name="name"></div>
                  <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"  [(ngModel)]="lastname" name="lastname"></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Email </label><input type="text" class="form-control" placeholder="enter email"  [(ngModel)]="email" name="email"></div>
                  <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number"  [(ngModel)]="phoneNumber" name="phoneNumber"></div>


              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Birthday</label><input type="date" class="form-control" placeholder="enter address line 2"[ngModel] ="birthday | date:'yyyy-MM-dd'" (ngModelChange)="birthday = $event"></div>
              </div>



              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" style="background-color: #f0d43a;" (click)="update()" type="button">Save Profile</button></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Edit Password</span><span class="border px-3 p-1 add-experience" (click)="updatePass()"><i class="fa fa-check"></i>&nbsp;Update Password</span></div><br>
              <div class="col-md-12"><label class="labels">New Password</label><input type="password" class="form-control" placeholder="New Password" [(ngModel)]="password" name="password"></div> <br>
          </div>
      </div>
  </div>
</div>
<br><br>

